Repository hmcts/sscs-submit-your-appeal, pull requests merged in 2020-01, with the labels that each got.

#878 SSCS-6415
  assets/js/inactivity-alert.js
  middleware/draftAppealStoreMiddleware.js
  package.json
  paths.js
  steps.js
  steps/exit-points/SessionTimeoutRedirect.js
  test/unit/middleware/draftAppealStoreMiddleware.test.js
  test/unit/paths.test.js
  test/unit/steps.test.js
  test/unit/steps/exit/SessionTimeoutRedirect.test.js
  yarn.lock
Labels: ns:sscs-tribunals-frontend-pr-878

#880 SSCS-6884 SYA/S&R – Users without the correct role are progressing th…
  middleware/draftAppealStoreMiddleware.js
Labels: ns:sscs, rel:sscs-tribunals-frontend-pr-880

#881 SSCS-7049 S&R/SYA – Change the sign back in redirect URL
  charts/sscs-tribunals-frontend/Chart.yaml
  charts/sscs-tribunals-frontend/values.preview.template.yaml
  charts/sscs-tribunals-frontend/values.yaml
  config/default.json
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:sscs, rel:sscs-tribunals-frontend-pr-881

#884 Aks migration preparation
  .dockerignore
  .nvmrc
  Dockerfile
  Jenkinsfile.old
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  appConfigurations.js
  charts/sscs-tribunals-frontend/Chart.yaml
  charts/sscs-tribunals-frontend/requirements.yaml
  charts/sscs-tribunals-frontend/values.aat.template.yaml
  charts/sscs-tribunals-frontend/values.preview.template.yaml
  charts/sscs-tribunals-frontend/values.yaml
  config/a11y.json
  config/custom-environment-variables.json
  config/default.json
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/state.tf
  logger.js
  package.json
  server.js
  services/setupSecrets.js
  test/unit/services/setupSecrets.test.js
  test/unit/steps/logger.test.js
  yarn.lock
Labels: ns:sscs, rel:sscs-tribunals-frontend-pr-884

#882 SSCS-6809 Changes to support new PIP AE office added by DWP
  assets/js/main.js
  assets/scss/main.scss
  steps/compliance/dwp-issuing-office/DWPIssuingOffice.js
  steps/compliance/dwp-issuing-office/content.en.json
  steps/compliance/dwp-issuing-office/template.html
  test/e2e/page/compliance/dwpIssuingOffice.test.js
  test/unit/steps/compliance/dwp-issuing-office/DWPIssuingOffice.test.js
Labels: ns:sscs, rel:sscs-tribunals-frontend-pr-882

#886 Upgrade dependencies
  yarn.lock
Labels: ns:sscs, rel:sscs-tribunals-frontend-pr-886

#887 Disable ASE on AAT
  Jenkinsfile_CNP
Labels: ns:sscs, rel:sscs-tribunals-frontend-pr-887

#877 Feature/sscs 6587
  charts/sscs-tribunals-frontend/values.preview.template.yaml
  charts/sscs-tribunals-frontend/values.yaml
  config/default.json
  test/e2e/page-objects/start/independence.js
  test/e2e/smoke/appeal.test.js
  test/e2e/smoke/health.test.js
  yarn.lock
Labels: ns:sscs, ns:sscs-tribunals-frontend-pr-877, rel:sscs-tribunals-frontend-pr-877

#888 SSCS-7162 add bradford config to allow rpc postcode
  charts/sscs-tribunals-frontend/Chart.yaml
  infrastructure/main.tf
Labels: ns:sscs, rel:sscs-tribunals-frontend-pr-888

#890 Added contact email and change opening times (SSCS-7061)
  .gitignore
  charts/sscs-tribunals-frontend/Chart.yaml
  charts/sscs-tribunals-frontend/values.yaml
  content.en.json
  infrastructure/aat.tfvars
  views/components/contact-us.html
Labels: ns:sscs, rel:sscs-tribunals-frontend-pr-890
