Repository hmcts/sscs-submit-your-appeal, pull requests merged in 2022-07, with the labels that each got.

#1333 fix dependency and security issues
  audit.json
  charts/sscs-tribunals-frontend/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-frontend-pr-1333

#1335 Bump NodeJs to 2.4.4
  charts/sscs-tribunals-frontend/Chart.yaml
  infrastructure/main.tf
  yarn-audit-known-issues
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-frontend-pr-1335

#1336 suppress zap false positives
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-frontend-pr-1336

#1339 sscsBaseChartUpdate-NodeJs245
  charts/sscs-tribunals-frontend/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:sscs, prd:sscs, rel:sscs-tribunals-frontend-pr-1339
